
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# env files
album/*

# cache files
MyAlbumCollection/__pycache__/*
AlbumCollection/__pycache__/*
album-venv/*
.vscode/*